@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);
@import url(http://fonts.googleapis.com/css?family=Lekton:400,700);


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    MAIN LAYOUT
*/

body{
    background: url(irongrip.png);
    background-attachment: fixed;
    font-family: 'Lekton', sans-serif;
    font-size: 38px;
    color: #fff;
    line-height: 1.1;
}

#main{
    position: absolute;
    top: 19%;
    overflow: visible;
    width: 100%;
}

#content{
    padding: 0 19%;
}

h1{
    font-family: 'Happy Monkey', cursive;
    color: #F92672;
    font-size: 96px;
    padding: 15px 0;
}

p{
    padding: 15px 0;
}

em{
    color: #66D9EF;
}

a:link, a:visited{
    text-decoration: none;
    color: #AE81FF;
}

hr{
    margin-top: 350px;
    color: #fff;
    background-color: #fff;
    height: 1px;
    border: none;
}

#imprint{
    font-size: 13px;
    padding-bottom: 50px;
}


/*
    MEDIA QUERIES
*/

/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    body{
        font-size: 28px;
    }

    #main{
        top: 70px;
    }
    #content{
        padding: 0 70px;
    }

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    body{
        font-size: 28px;
    }

    #main{
        top: 50px;
    }
    #content{
        padding: 0 50px;
    }

    p{
        padding: 10px 0;
    }


}
 
/* Landscape phones and down */
@media (max-width: 480px) {

    body{
        font-size: 18px;
    }

    #main{
        top: 20px;
    }
    #content{
        padding: 0 20px;
    }

    h1{
        font-size: 60px;
        padding-top: 0;
    }

    p{
        padding: 10px 0;
    }

}